<%= render(PoneProfileComponent.new(pone: @pone, current_pone: current_pone)) %>
<%= render(PoneProfileNavComponent.new(pone: @pone)) %>
<div class="mt-3">
  <% case @mode %>
  <% when 'activity' %>
    <%= render(BoonListComponent.new(boons: @pone.granted_boons.first(25))) %>
  <% else %>
    <%= render(BoonListComponent.new(boons: @pone.boons.first(25))) %>
  <% end %>
</div>
