<div class="row">
  <div class="col-sm-12 col-md-auto mb-2">
    <ul class="nav nav-pills flex-md-column">
      <%= nav_link('Change Password', account_change_password_path) %>
      <%= nav_link('Integrations', account_integrations_path) %>
      <%= nav_link('API Keys', account_api_keys_path) %>
    </ul>
  </div>
  <div class="col">
    <%= content %>
  </div>
</div>
