<div class="row">
  <%= tag.div(class: alignment_class) do %>
    <div class="card">
      <% if @title.present? %>
        <div class="card-header"><%= @title %></div>
      <% end %>
      <div class="card-body">
        <%= content %>
      </div>
    </div>
  <% end %>
</div>
