<div class="card">
  <div class="card-header">
    <%= tag.i(class: @icon) %>
    <%= @name %>
  </div>
  <div class="card-body">
    <% if credential.present? %>
      <%= link_to("Link Account with #{@name}", @credential_class.auth_path, method: :post) %>
    <% else %>
      Account Linked to <%= @name %>
    <% end %>
  </div>
</div>
