<% @points.each do |point| %>
  <div class="card mb-2">
    <div class="card-body">
      <div class="card-title fs-5">
        <%= link_to_unless_current(point.granted_by.name, point.granted_by) %> gave
        <%= link_to_unless_current(point.pone.name, point.pone) %> <%= number_to_human(point.count) %> good pone points!
      </div>
      <%= point.message %>
    </div>
  </div>
<% end %>
