<h1>
  <%= @pone.name %>
  <small class="text-muted fs-6">
    is a good pone
  </small>
</h1>
<p class="mb-0">
  <%= @pone.name %> currently has <strong><%= number_to_human(@pone.points_count) %></strong> good pone points.
</p>
