{
  "swagger": "2.0",
  "info": {
    "title": "Good Pone Points",
    "description": "The API for the Good Pone Points service.",
    "termsOfService": "http://open-api.io/terms/",
    "contact": {
      "name": "API Support",
      "url": "http://www.open-api.io/support",
      "email": "support@open-api.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "host": "points.horse",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/pones/{pone_slug}/achievements.json": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pone_slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "pone_slug",
            "in": "query",
            "description": "The pone's slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing a pone's achievements",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "393"
              }
            },
            "examples": {
              "application/json": {
                "achievements": [
                  {
                    "id": 2,
                    "description": "Receive points from the same pone at least 3 days in a row.",
                    "name": "Somepone Likes You!"
                  },
                  {
                    "id": 3,
                    "description": "Give out points at least 3 days in a row.",
                    "name": "The Regular"
                  },
                  {
                    "id": 4,
                    "description": "Give a pone a point immediately after you've received one from them.",
                    "name": "Counterpoint"
                  }
                ],
                "meta": {
                  "links": {
                    "pone": "/api/v1/pones/heather-1.json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/groups.json": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of groups to show per page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing groups",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "1011"
              }
            },
            "examples": {
              "application/json": {
                "groups": [
                  {
                    "slug": "the-wings-of-the-dove-1",
                    "created_at": "2021-02-11T06:29:19.841Z",
                    "links": {
                      "self": "/api/v1/groups/the-wings-of-the-dove-1.json",
                      "page": "/groups/the-wings-of-the-dove-1",
                      "owner": "/api/v1/pones/lilly-3.json",
                      "members": "/api/v1/groups/the-wings-of-the-dove-1/members.json"
                    },
                    "name": "The Wings of the Dove 1"
                  },
                  {
                    "slug": "no-country-for-old-men-2",
                    "created_at": "2021-02-11T06:29:19.849Z",
                    "links": {
                      "self": "/api/v1/groups/no-country-for-old-men-2.json",
                      "page": "/groups/no-country-for-old-men-2",
                      "owner": "/api/v1/pones/kerrie-kertzmann-4.json",
                      "members": "/api/v1/groups/no-country-for-old-men-2/members.json"
                    },
                    "name": "No Country for Old Men 2"
                  },
                  {
                    "slug": "dance-dance-dance-3",
                    "created_at": "2021-02-11T06:29:19.853Z",
                    "links": {
                      "self": "/api/v1/groups/dance-dance-dance-3.json",
                      "page": "/groups/dance-dance-dance-3",
                      "owner": "/api/v1/pones/brandi-5.json",
                      "members": "/api/v1/groups/dance-dance-dance-3/members.json"
                    },
                    "name": "Dance Dance Dance 3"
                  }
                ],
                "meta": {
                  "count": 3,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/groups/{slug.json}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "description": " slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requesting a specific group",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "432"
              }
            },
            "examples": {
              "application/json": {
                "group": {
                  "slug": "the-wealth-of-nations-4",
                  "created_at": "2021-02-11T06:29:19.881Z",
                  "description": "Gastropub xoxo quinoa helvetica jean shorts cardigan intelligentsia gluten-free kickstarter.",
                  "links": {
                    "self": "/api/v1/groups/the-wealth-of-nations-4.json",
                    "page": "/groups/the-wealth-of-nations-4",
                    "owner": "/api/v1/pones/susann-7.json",
                    "members": "/api/v1/groups/the-wealth-of-nations-4/members.json"
                  },
                  "name": "The Wealth of Nations 4"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/groups/{slug}/members.json": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "description": " slug",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of members to show per page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Requesting all of the members of a group",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "1780"
              }
            },
            "examples": {
              "application/json": {
                "members": [
                  {
                    "slug": "zachariah-9",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:19.903Z",
                    "links": {
                      "self": "/api/v1/pones/zachariah-9.json",
                      "page": "/pones/zachariah-9",
                      "achievements": "/api/v1/pones/zachariah-9/achievements.json",
                      "points": "/api/v1/pones/zachariah-9/points.json",
                      "granted_points": "/api/v1/pones/zachariah-9/points/granted.json",
                      "groups": "/api/v1/pones/zachariah-9/groups.json"
                    },
                    "name": "zachariah 9",
                    "points_count": 0
                  },
                  {
                    "slug": "louann-10",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:19.906Z",
                    "links": {
                      "self": "/api/v1/pones/louann-10.json",
                      "page": "/pones/louann-10",
                      "achievements": "/api/v1/pones/louann-10/achievements.json",
                      "points": "/api/v1/pones/louann-10/points.json",
                      "granted_points": "/api/v1/pones/louann-10/points/granted.json",
                      "groups": "/api/v1/pones/louann-10/groups.json"
                    },
                    "name": "louann 10",
                    "points_count": 0
                  },
                  {
                    "slug": "carmela_kuvalis-11",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:19.908Z",
                    "links": {
                      "self": "/api/v1/pones/carmela_kuvalis-11.json",
                      "page": "/pones/carmela_kuvalis-11",
                      "achievements": "/api/v1/pones/carmela_kuvalis-11/achievements.json",
                      "points": "/api/v1/pones/carmela_kuvalis-11/points.json",
                      "granted_points": "/api/v1/pones/carmela_kuvalis-11/points/granted.json",
                      "groups": "/api/v1/pones/carmela_kuvalis-11/groups.json"
                    },
                    "name": "carmela_kuvalis 11",
                    "points_count": 0
                  },
                  {
                    "slug": "stefan-12",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:19.910Z",
                    "links": {
                      "self": "/api/v1/pones/stefan-12.json",
                      "page": "/pones/stefan-12",
                      "achievements": "/api/v1/pones/stefan-12/achievements.json",
                      "points": "/api/v1/pones/stefan-12/points.json",
                      "granted_points": "/api/v1/pones/stefan-12/points/granted.json",
                      "groups": "/api/v1/pones/stefan-12/groups.json"
                    },
                    "name": "stefan 12",
                    "points_count": 0
                  }
                ],
                "meta": {
                  "count": 4,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{pone_slug}/points.json": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pone_slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "pone_slug",
            "in": "query",
            "description": "The pone's slug",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of points to show per page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing a pone's points",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "1078"
              }
            },
            "examples": {
              "application/json": {
                "points": [
                  {
                    "id": 3994,
                    "count": 2,
                    "granted_at": "2021-02-11T06:29:19.943Z",
                    "links": {
                      "self": "/api/v1/pones/mignon_kessler-14/points/3994.json",
                      "pone": "/api/v1/pones/mignon_kessler-14.json",
                      "granted_by": "/api/v1/pones/sheryl-15.json"
                    },
                    "message": "Before they sold out next level lomo ramps vice single-origin coffee pork belly green juice synth."
                  },
                  {
                    "id": 3995,
                    "count": 2,
                    "granted_at": "2021-02-11T06:29:19.945Z",
                    "links": {
                      "self": "/api/v1/pones/mignon_kessler-14/points/3995.json",
                      "pone": "/api/v1/pones/mignon_kessler-14.json",
                      "granted_by": "/api/v1/pones/jarrett-16.json"
                    },
                    "message": "Venmo paleo pbr&b organic irony carry."
                  },
                  {
                    "id": 3996,
                    "count": 2,
                    "granted_at": "2021-02-11T06:29:19.948Z",
                    "links": {
                      "self": "/api/v1/pones/mignon_kessler-14/points/3996.json",
                      "pone": "/api/v1/pones/mignon_kessler-14.json",
                      "granted_by": "/api/v1/pones/sheldon-conroy-17.json"
                    },
                    "message": "Polaroid cronut pug crucifix tumblr keytar."
                  }
                ],
                "meta": {
                  "count": 3,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null,
                    "pone": "/api/v1/pones/mignon_kessler-14.json",
                    "give_points": "/api/v1/pones/mignon_kessler-14/points/give.json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{pone_slug}/points/granted.json": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pone_slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "pone_slug",
            "in": "query",
            "description": "The pone's slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing the points a pone has given out",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "1009"
              }
            },
            "examples": {
              "application/json": {
                "points": [
                  {
                    "id": 3998,
                    "count": 1,
                    "granted_at": "2021-02-11T06:29:19.981Z",
                    "links": {
                      "self": "/api/v1/pones/jessica-20/points/3998.json",
                      "pone": "/api/v1/pones/jessica-20.json",
                      "granted_by": "/api/v1/pones/tim-stark-19.json"
                    },
                    "message": "Scenester cray pabst pour-over readymade plaid fanny pack ramps tattooed."
                  },
                  {
                    "id": 3999,
                    "count": 2,
                    "granted_at": "2021-02-11T06:29:19.984Z",
                    "links": {
                      "self": "/api/v1/pones/august-cole-21/points/3999.json",
                      "pone": "/api/v1/pones/august-cole-21.json",
                      "granted_by": "/api/v1/pones/tim-stark-19.json"
                    },
                    "message": "Wayfarers tumblr hammock thundercats tousled disrupt."
                  },
                  {
                    "id": 4000,
                    "count": 3,
                    "granted_at": "2021-02-11T06:29:19.986Z",
                    "links": {
                      "self": "/api/v1/pones/erin-22/points/4000.json",
                      "pone": "/api/v1/pones/erin-22.json",
                      "granted_by": "/api/v1/pones/tim-stark-19.json"
                    },
                    "message": "Organic humblebrag bushwick shoreditch."
                  }
                ],
                "meta": {
                  "count": 3,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null,
                    "pone": "/api/v1/pones/tim-stark-19.json",
                    "give_points": "/api/v1/pones/tim-stark-19/points/give.json"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{pone_slug}/points/{id.json}": {
      "get": {
        "tags": [
          "Points"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pone_slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pone_slug",
            "in": "query",
            "description": "The pone's slug",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the point record",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Requesting a specific point entry",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "267"
              }
            },
            "examples": {
              "application/json": {
                "point": {
                  "id": 4002,
                  "count": 2,
                  "granted_at": "2021-02-11T06:29:20.016Z",
                  "links": {
                    "self": "/api/v1/pones/chang-24/points/4002.json",
                    "pone": "/api/v1/pones/chang-24.json",
                    "granted_by": "/api/v1/pones/nathanael-25.json"
                  },
                  "message": "Tacos cleanse 8-bit franzen thundercats."
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{pone_slug}/points/give.json": {
      "post": {
        "tags": [
          "Points"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pone_slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "required": [
                "pone_slug"
              ],
              "type": "object",
              "properties": {
                "pone_slug": {
                  "type": "string",
                  "description": "The pone's slug"
                },
                "point": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of points to give",
                      "minimum": 1,
                      "maximum": 5
                    },
                    "message": {
                      "type": "string",
                      "description": "A nice message for the pone"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Giving points to a pone",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "296"
              }
            },
            "examples": {
              "application/json": {
                "point": {
                  "id": 4005,
                  "count": 1,
                  "granted_at": "2021-02-11T06:29:20.054Z",
                  "links": {
                    "self": "/api/v1/pones/celsa-27/points/4005.json",
                    "pone": "/api/v1/pones/celsa-27.json",
                    "granted_by": "/api/v1/pones/doris-28.json"
                  },
                  "message": "Cardigan farm-to-table ramps diy put a bird on it selvage hashtag celiac."
                }
              }
            }
          },
          "422": {
            "description": "Giving points to a pone [invalid]",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "47"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "count": [
                    "must be greater than 0"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones.json": {
      "get": {
        "tags": [
          "Pones"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of pones to show per page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing pones",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "3174"
              }
            },
            "examples": {
              "application/json": {
                "pones": [
                  {
                    "slug": "system-pone",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T00:48:05.146Z",
                    "links": {
                      "self": "/api/v1/pones/system-pone.json",
                      "page": "/pones/system-pone",
                      "achievements": "/api/v1/pones/system-pone/achievements.json",
                      "points": "/api/v1/pones/system-pone/points.json",
                      "granted_points": "/api/v1/pones/system-pone/points/granted.json",
                      "groups": "/api/v1/pones/system-pone/groups.json"
                    },
                    "name": "System Pone",
                    "points_count": 0
                  },
                  {
                    "slug": "laurinda-aufderhar-31",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.077Z",
                    "links": {
                      "self": "/api/v1/pones/laurinda-aufderhar-31.json",
                      "page": "/pones/laurinda-aufderhar-31",
                      "achievements": "/api/v1/pones/laurinda-aufderhar-31/achievements.json",
                      "points": "/api/v1/pones/laurinda-aufderhar-31/points.json",
                      "granted_points": "/api/v1/pones/laurinda-aufderhar-31/points/granted.json",
                      "groups": "/api/v1/pones/laurinda-aufderhar-31/groups.json"
                    },
                    "name": "laurinda.aufderhar 31",
                    "points_count": 0
                  },
                  {
                    "slug": "ignacio-32",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.078Z",
                    "links": {
                      "self": "/api/v1/pones/ignacio-32.json",
                      "page": "/pones/ignacio-32",
                      "achievements": "/api/v1/pones/ignacio-32/achievements.json",
                      "points": "/api/v1/pones/ignacio-32/points.json",
                      "granted_points": "/api/v1/pones/ignacio-32/points/granted.json",
                      "groups": "/api/v1/pones/ignacio-32/groups.json"
                    },
                    "name": "ignacio 32",
                    "points_count": 0
                  },
                  {
                    "slug": "mohammad-renner-33",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.080Z",
                    "links": {
                      "self": "/api/v1/pones/mohammad-renner-33.json",
                      "page": "/pones/mohammad-renner-33",
                      "achievements": "/api/v1/pones/mohammad-renner-33/achievements.json",
                      "points": "/api/v1/pones/mohammad-renner-33/points.json",
                      "granted_points": "/api/v1/pones/mohammad-renner-33/points/granted.json",
                      "groups": "/api/v1/pones/mohammad-renner-33/groups.json"
                    },
                    "name": "mohammad.renner 33",
                    "points_count": 0
                  },
                  {
                    "slug": "sterling-34",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.081Z",
                    "links": {
                      "self": "/api/v1/pones/sterling-34.json",
                      "page": "/pones/sterling-34",
                      "achievements": "/api/v1/pones/sterling-34/achievements.json",
                      "points": "/api/v1/pones/sterling-34/points.json",
                      "granted_points": "/api/v1/pones/sterling-34/points/granted.json",
                      "groups": "/api/v1/pones/sterling-34/groups.json"
                    },
                    "name": "sterling 34",
                    "points_count": 0
                  },
                  {
                    "slug": "mackenzie-maggio-35",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.082Z",
                    "links": {
                      "self": "/api/v1/pones/mackenzie-maggio-35.json",
                      "page": "/pones/mackenzie-maggio-35",
                      "achievements": "/api/v1/pones/mackenzie-maggio-35/achievements.json",
                      "points": "/api/v1/pones/mackenzie-maggio-35/points.json",
                      "granted_points": "/api/v1/pones/mackenzie-maggio-35/points/granted.json",
                      "groups": "/api/v1/pones/mackenzie-maggio-35/groups.json"
                    },
                    "name": "mackenzie.maggio 35",
                    "points_count": 0
                  },
                  {
                    "slug": "lupe-36",
                    "avatar_url": null,
                    "joined_at": "2021-02-11T06:29:20.093Z",
                    "links": {
                      "self": "/api/v1/pones/lupe-36.json",
                      "page": "/pones/lupe-36",
                      "achievements": "/api/v1/pones/lupe-36/achievements.json",
                      "points": "/api/v1/pones/lupe-36/points.json",
                      "granted_points": "/api/v1/pones/lupe-36/points/granted.json",
                      "groups": "/api/v1/pones/lupe-36/groups.json"
                    },
                    "name": "lupe 36",
                    "points_count": 1
                  }
                ],
                "meta": {
                  "count": 7,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{slug.json}": {
      "get": {
        "tags": [
          "Pones"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "description": " slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requesting a specific pone",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "676"
              }
            },
            "examples": {
              "application/json": {
                "pone": {
                  "slug": "kendrick-heathcote-37",
                  "avatar_url": "/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBVQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--8215b121679cf0b3201998f030d19a569a1f676d/avatar.png",
                  "joined_at": "2021-02-11T06:29:20.148Z",
                  "links": {
                    "self": "/api/v1/pones/kendrick-heathcote-37.json",
                    "page": "/pones/kendrick-heathcote-37",
                    "achievements": "/api/v1/pones/kendrick-heathcote-37/achievements.json",
                    "points": "/api/v1/pones/kendrick-heathcote-37/points.json",
                    "granted_points": "/api/v1/pones/kendrick-heathcote-37/points/granted.json",
                    "groups": "/api/v1/pones/kendrick-heathcote-37/groups.json"
                  },
                  "name": "kendrick.heathcote 37",
                  "points_count": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/me.json": {
      "get": {
        "tags": [
          "Pones"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Requesting additional information about your own pone",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "pone": {
                  "type": "object",
                  "properties": {
                    "giftable_points_count": {
                      "type": "string",
                      "description": "The remaining number of points left to give out today"
                    },
                    "daily_giftable_points_count": {
                      "type": "string",
                      "description": "The total number of points you can give out each day"
                    },
                    "bonus_points_count": {
                      "type": "string",
                      "description": "Additional, one-time use points that can be given to pones"
                    }
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "581"
              }
            },
            "examples": {
              "application/json": {
                "pone": {
                  "slug": "adriana_jaskolski-39",
                  "avatar_url": null,
                  "bonus_points_count": 0,
                  "daily_giftable_points_count": 3,
                  "giftable_points_count": 3,
                  "joined_at": "2021-02-11T06:29:20.174Z",
                  "links": {
                    "self": "/api/v1/pones/adriana_jaskolski-39.json",
                    "page": "/pones/adriana_jaskolski-39",
                    "achievements": "/api/v1/pones/adriana_jaskolski-39/achievements.json",
                    "points": "/api/v1/pones/adriana_jaskolski-39/points.json",
                    "granted_points": "/api/v1/pones/adriana_jaskolski-39/points/granted.json",
                    "groups": "/api/v1/pones/adriana_jaskolski-39/groups.json"
                  },
                  "name": "adriana_jaskolski 39",
                  "points_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/api/v1/pones/{slug}/groups.json": {
      "get": {
        "tags": [
          "Pones"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "query",
            "description": " slug",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of groups to show per page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Requesting all of a pone's groups",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              },
              "Content-Length": {
                "description": "",
                "type": "string",
                "x-example-value": "1060"
              }
            },
            "examples": {
              "application/json": {
                "groups": [
                  {
                    "slug": "far-from-the-madding-crowd-6",
                    "created_at": "2021-02-11T06:29:20.195Z",
                    "links": {
                      "self": "/api/v1/groups/far-from-the-madding-crowd-6.json",
                      "page": "/groups/far-from-the-madding-crowd-6",
                      "owner": "/api/v1/pones/roland-kris-41.json",
                      "members": "/api/v1/groups/far-from-the-madding-crowd-6/members.json"
                    },
                    "name": "Far From the Madding Crowd 6"
                  },
                  {
                    "slug": "such-such-were-the-joys-7",
                    "created_at": "2021-02-11T06:29:20.200Z",
                    "links": {
                      "self": "/api/v1/groups/such-such-were-the-joys-7.json",
                      "page": "/groups/such-such-were-the-joys-7",
                      "owner": "/api/v1/pones/julian-42.json",
                      "members": "/api/v1/groups/such-such-were-the-joys-7/members.json"
                    },
                    "name": "Such, Such Were the Joys 7"
                  },
                  {
                    "slug": "dulce-et-decorum-est-8",
                    "created_at": "2021-02-11T06:29:20.205Z",
                    "links": {
                      "self": "/api/v1/groups/dulce-et-decorum-est-8.json",
                      "page": "/groups/dulce-et-decorum-est-8",
                      "owner": "/api/v1/pones/ma_abshire-43.json",
                      "members": "/api/v1/groups/dulce-et-decorum-est-8/members.json"
                    },
                    "name": "Dulce et Decorum Est 8"
                  }
                ],
                "meta": {
                  "count": 3,
                  "pages": 1,
                  "links": {
                    "next": null,
                    "prev": null
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "description": "",
      "name": "Authorization",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "Achievements",
      "description": ""
    },
    {
      "name": "Groups",
      "description": ""
    },
    {
      "name": "Points",
      "description": ""
    },
    {
      "name": "Pones",
      "description": ""
    }
  ]
}