<div>
  <%= link_to('Create New Group', new_group_path, class: 'btn btn-primary float-end') if Pundit.policy(current_pone, Group).create? %>
  <h1>Groups</h1>
</div>
<%= render(GroupListComponent.new(groups: @groups)) %>
