<%= render(AccountPanelComponent.new) do %>
  <div class="row">
    <div class="col-sm-6 col-lg-4 pb-3">
      <%= render(ExternalCredentialCardComponent.new(icon: 'bi-discord', name: 'Discord', credential_class: PoneDiscordCredential, current_pone: current_pone)) %>
    </div>
    <div class="col-sm-6 col-lg-4 pb-3">
      <%= render(ExternalCredentialCardComponent.new(icon: 'bi-github', name: 'Github', credential_class: PoneGithubCredential, current_pone: current_pone)) %>
    </div>
  </div>
  <div>
<% end %>
